<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<!-- Configiure DataSource -->
   <bean id="drds"  class="org.springframework.jdbc.datasource.DriverManagerDataSource">
       <property name="driverClassName"  value="oracle.jdbc.driver.OracleDriver"/>
       <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
       <property name="username" value="system"/>
       <property name="password" value="manager"/>
   </bean>
   
   <!-- cfg DAO class -->
   <bean id="cricDAO"  class="com.icc.dao.CricketerDAOImpl">
       <constructor-arg   ref="drds"/>
   </bean>
   
   <!-- cfg service class -->
   <bean id="cricService"  class="com.icc.service.CricketerServiceImpl">
       <constructor-arg ref="cricDAO"/>
   </bean>
   
   <!-- cfg Controller class -->
   <bean id="controller"  class="com.icc.controller.CricketerController">
      <constructor-arg ref="cricService"/>
   </bean>

</beans>
